<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CallServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.106:8081/CallService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CallServiceSoap"
                contract="CalQueueService.CallServiceSoap" name="CallServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>